/* Navbar */
    .button-text-navbar{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }

    .btn-masuk{
        justify-content: center;
        align-items: center;
        padding: 10px 16px;
        background: #063852;
        border-radius: 5px;
        width: 100%;
    }



/* Halaman Login dan Daftar */
    .title-text-login{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        color: #222222;
    }

    .google-text-login{
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #222222;
    }

    .desc-text-login{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #222222;
    }

    .button-text-login{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #FFFFFF;
    }

    .info-text-login{
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: #222222;
    }
    .text-progress{
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #222222;
    }

/* Halaman Landing Pages */

    .title-text-main{
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        color: #222222;
    }

    .desc-text-main{
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: #222222;
    }

    /* ada 2 warna jadi warnanya sesuain aja di HTML nya */
    .button-text-main{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }

    .head-text-main{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        color: #222222;
    }
    /* Card */
    .title-text-card{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #222222;
    }
    .mentor-name-text-card{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #222222;
        margin-bottom: 0px;
    }

    .normal-price-text-card{
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: #063852;
    }

    .disc-price-text-card{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #636466;
        text-decoration: line-through;
        margin-bottom: 0px;
        margin-left: 2%;
    }

    .hover-text-card{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #FFFFFF;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    a{
        text-decoration:none !important;
    }


    .hover-img:hover .middle {
        opacity: 1;
    }
    
    .hover-img:hover img {
        opacity: 1;
        filter: brightness(70%);
    }

    .text {
        border: 1px solid #FFFFFF;
        border-radius: 5px;justify-content: center;
        align-items: center;
        padding: 10px 16px;
        background-color: white;
    }

/* Search Page */

    .button-text-category{
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }

/* Admin dashboard Page */
    .header-text-category{
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: #063852;
    }
    .text-kelas-admin{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    .text-category{
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: #063852;
    }

    .padding-header{
        padding: 16px;
        background: rgba(255, 193, 0, 0.1);
        border-radius: 5px;
    }

    /* informasi umum */
    .btn-overview{
        color:#063852; 
        border-color:#063852;
        background:white;
        padding: 10px 16px;
        border: 1px solid #063852;
        border-radius:5px;
    }
    .btn-publish{
        color: #20A2EB !important;
        background: rgba(32, 162, 235, 0.1);
        padding:16px;
        border-radius:5px;
        font-weight:700;
    }
    .btn-dashboard{
        color:#063852; 
        border-color:#063852;
        background:white;
        padding: 10px;
        border: 1px solid #063852;
        border-radius:5px;
    }
    .btn-info-kelas{
        padding: 10px 12px;
        width: fit-content;
        background: #063852;
        border-radius: 20px;
        font-weight:700;
        color:white;
    }
    .btn-info-kelas-off{
        padding: 10px 12px;
        width: fit-content;
        background: #E6EBED;
        border-radius: 20px;
        font-weight:500;
        color:#636466;
    }
    .text-kelas-belum-selesai{
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #636466;
    }

    .form-group{
        margin-top:24px;
    }

    .text-kelas{
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #636466;
    }

    .text-kelas-baru{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color:black;
        margin-top:24px;
    }

    .text-chapter{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #063852;
    }

    /* materi pembelajaran floating */
    .text-materi{
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #222222;
    }